<title>Mostrar </title>
<style type="text/css">
    html, body {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    #full-screen-background-image {
        z-index: -999;
        width: 100%;
        height: auto;
        position: fixed;
        top: 0;
        left: 0;
    }
    .nav > li {
				float:right;
			}
        .nav li a {
        background-color:#000;
        color:#fff;
        text-decoration:none;
        padding:10px 12px;
        display:block;
    }
</style>
<body>
    <img alt="full screen background image" src="fondo.jpg" id="full-screen-background-image" /> 
</body>
<div id="header">
    <ul class="nav">
        <li><a href="Menú principal.html">Regresar</a></li>
    </ul>
    <h2 align="center">Mostrar el ancho y la altura de la pantalla</h2>
</div>


<button onclick="mostrar()">Mostrar</button>
<div></div>
<script >
    document.write("<br>Altura total:" + screen.height); 
    document.write("<br>Altura disponible:"  + screen.availHeight);
    document.write("<br>Anchura total: "+ screen.width);
    document.write("<br>Anchura disponible:" + screen.availWidth); 
    document.write("<br>Profundidad de colors:"  + screen.colorDepth); 
</script>