<style type="text/css">
    html, body {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    #full-screen-background-image {
        z-index: -999;
        width: 100%;
        height: auto;
        position: fixed;
        top: 0;
        left: 0;
    }
    .nav > li {
				float:right;
			}
        .nav li a {
        background-color:#000;
        color:#fff;
        text-decoration:none;
        padding:10px 12px;
        display:block;
    }
</style>
<body>
    <img alt="full screen background image" src="fondo.jpg" id="full-screen-background-image" /> 
</body>
<div id="header">
    <ul class="nav">
        <li><a href="Menú principal.html">Regresar</a></li>
    </ul>
</div>
<head>
    <title>Imprimir pagina</title>
</head>

<h2 align="center">Imprimir pagina</h2>
 <a>
    <div>
    Crear una página Web que permita ejecutar y mostrar:
    </div>
    •Transforme la hora actual en segundos.
    <div>
    •Calcular el área de un triángulo, que es igual a: (base * altura)/2.
    <div>
    •Calcule la raíz cuadrada de un número impar y muestre el resultado con 3 dígitos.
    <div>
    •Ingresar una cadena de texto y mostrar la longitud de la cadena.
    <div>
    •Concatenar los arrays:  array1(Lunes, Martes, Miércoles, Jueves, Viernes) y array 2 (Sábado, Domingo)
    <div></div>
    •Mostrar la versión del navegador.
    <div>
    •Mostrar el ancho y la altura de la pantalla.
    <div>
    •Imprimir la página.
    <div>
    </a>
<input type="button" value= HasClicParaImprimir onclick="javascript:window.print()" />

